
body {
    background: linear-gradient(to bottom, #111, darkred);
    min-height: 100vh;
    text-align: center;
    color: white;
}

 h1 {
    font-family: "Sixtyfour", Georgia, serif;
    font-size: 80px;
    color: rgb(255, 230, 0);
    letter-spacing: 4px;
    border-bottom: solid 8px rgb(255, 230, 0);
    padding: 35px 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

body .story {
    font-family: "Saira Stencil One", Arial, sans-serif;
    font-size: 38px;
    width: 70%;
    margin: 35px auto;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 25px;
    border-left: solid 8px rgb(255, 230, 0);
}


body .choice {
    font-family: "Sixtyfour", Courier, monospace;
    font-size: 48px;
    background-color: rgb(255, 230, 0);
    color: black;
    padding: 25px 55px;
    border: solid 6px black;
}

body .choice:hover {
    background-color: white;
    color: black;
    border-color: rgb(255, 230, 0);
}

