body {
    background: radial-gradient(rgb(255, 255, 255),rgb(202, 97, 22), rgb(189, 28, 19));
}

h1 {
    font-family: "Splash", Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
    color: rgb(255, 255, 255)
}

#img2 {
    float: right;
    width: 40%;
    margin-right: 30%;
    border-style: double;
    border-width: 5px;
    border-color: antiquewhite;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#p6 {
    font-family: "Limelight", 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding-top: 5%;
    color: #0e0a4d;
    text-align: center;
    padding-top: 30%;
}

#p7 {
    padding-top: 3%;
    font-size: 50px;
    padding-bottom: 3%;
    text-decoration: underline;
    text-overflow: inherit;
    font-family: "Moo Lah Lah", 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#R2 {

    margin-left: 2%;
}

#plane {

    margin-left: 2%;
    margin-right: 2%;
}
#type {
   
    margin-right: 2%;
}

#pg1 {
    color: antiquewhite;
    font-size: 20px;
    border-color: antiquewhite;
    border-style: dotted;
    text-align: center;
}

#pg2 {
    border-style: dotted;
    color: antiquewhite;
    font-size: 20px;
    border-color: antiquewhite;
    text-align: center;
}