body {
    background: linear-gradient(to right, rgba(236, 88, 2, 0.9),rgba(13, 85, 3, 0.86));
}

h1 {
    font-family: "Gantari", Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
    color: rgb(255, 255, 255);
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-width: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin: 0;
}

#p4 {
    font-family: "Faustina", 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: dotted;
    border-color: rgb(255, 255, 255);
    border-width: 5px;
    font-size: 30px;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #ffffff;
    
}

#img1 {
    padding-top: 3%;
    float: left;
}

#p5 {
    text-align: center;
    font-size: 25px;
    font-family: "Faustina", 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    
}

#vid {
    align-items: center;
}

#pg1a {
    border-style: dotted;
    color: antiquewhite;
    font-size: 20px;
    border-color: antiquewhite;
    text-align: center;
}

#pg3b {
    border-style: dotted;
    color: antiquewhite;
    font-size: 20px;
    border-color: antiquewhite;
    text-align: center;
}