
body {
    background: linear-gradient(to bottom, darkred, black);
    color: white;
    text-align: center;
    min-height: 100vh;
 }
 
 
 body h1 {
    font-family: "Sixtyfour", Georgia, serif;
    font-size: 70px;
    color: rgb(255, 230, 0);
    border: dotted 8px rgb(255, 230, 0);
    padding: 40px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
 }
 

 body h1:hover {
    color: red;
    background-color: rgb(255, 230, 0);
    border-color: red;
 }
 
 
 #p1, #p2 {
    font-family: "Geo", Arial, sans-serif;
    font-size: 40px;
    margin: 40px auto;
    width: 70%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border: solid 4px white;
 }
 

 #nextRound {
    display: inline-block;
    margin-top: 40px;
    font-family: "Sixtyfour", Courier, monospace;
    font-size: 50px;
    color: rgb(255, 230, 0);
    text-decoration: none;
    border: dotted 8px rgb(255, 230, 0);
    padding: 25px 40px;
    background-color: black;
 }
 

 #nextRound:hover {
    background-color: red;
    color: white;
    border-color: white;
 }
 