
body {
    background: radial-gradient(circle, darkred, black);
    text-align: center;
    color: white;
}


h1 {
    font-family: "Sixtyfour", Georgia, serif;
    font-size: 72px;
    color: rgb(255, 230, 0);
    border: double 10px rgb(255, 230, 0);
    padding: 30px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
}


.moment {
    width: 65%;
    margin: 50px auto;
    padding: 30px;
    border: dashed 6px white;
    background-color: rgba(0, 0, 0, 0.7);
}


.prompt {
    font-family: "Knewave", Arial, sans-serif;
    font-size: 38px;
    margin: 20px 0;
}


.choices {
    display: flex;
    justify-content: center;
    gap: 280px;
    margin-top: 40px;
}


.uppercut {
    font-family: "Sixtyfour", Courier, monospace;
    font-size: 45px;
    padding: 30px 40px;
    text-decoration: none;
    color: white;
    background-color: darkred;
    border: solid 6px red;
}


.jab {
    font-family: "Sixtyfour", Courier, monospace;
    font-size: 45px;
    padding: 30px 40px;
    text-decoration: none;
    color: black;
    background-color: rgb(255, 230, 0);
    border: solid 6px black;
}


.uppercut:hover {
    background-color: red;
    color: yellow;
}

.jab:hover {
    background-color: white;
    color: black;
}


.warning {
    font-family: "Knewave", Arial, sans-serif;
    font-size: 30px;
    margin-top: 40px;
    color: red;
}

